RewriteEngine On

Options -Indexes
RewriteRule ^subjects_scores$ subjects_scores.php [L]
RewriteRule ^backup$ backup.php [L]
RewriteRule ^scores$ scores.php [L]
RewriteRule ^practice_scores$ p_scores.php [L]
RewriteRule ^class$ class.php [L]
RewriteRule ^class_group$ class_group.php [L]
RewriteRule ^active_students$ active_students.php [L]
RewriteRule ^sublists$ sublist.php [L]
RewriteRule ^subjects$ subjects.php [L]
RewriteRule ^past_questions$ p_subjects.php [L]
RewriteRule ^students$ students.php [L]
RewriteRule ^settings$ settings.php [L]
RewriteRule ^teachers$ teachers.php [L]
RewriteRule ^pin_logins$ pin_usage.php [L]
RewriteRule ^pin_generate$ pin_generate.php [L]
RewriteRule ^printed_pins$ printed_pins.php [L]
RewriteRule ^print_pins$ print_pin.php [L]
RewriteRule ^manage_the_pins$ upload_pins.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^custom$ custom_type.php [L]
RewriteRule ^custom_scores$ custom_scores.php [L]